<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/fonts/icomoon.eot">
    <link rel="stylesheet" href="/styles/fonts/icomoon.svg">
    <link rel="stylesheet" href="/styles/fonts/icomoon.ttf">
    <link rel="stylesheet" href="/styles/fonts/icomoon.woff">
  <title>Book List</title>
</head>
<body>
  <% searchResults.forEach( book => { %>
    <p>Title: <%= book.title %></p>
    <p>Author: <%= book.authors %></p>
    <p>Description: <%= book.description %></p>
    <% }); %>
</body>
</html>