header {
    background-color: #1a1a1a;
    height: 80px;
    /* display: flex; */
}
h1 {
    margin: 10px;
}
/* index.ejs styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: seashell;
}
form.input {
    background: seashell;
    width: 60vw;
    height: 50px;
    margin: auto;
}
form.fieldset {
    background: seashell;
    width: 60vw;
    height: 50px;
    margin: auto;
}
form.button {
    background: seashell;
    width: 60vw;
    height: 50px;
    margin: auto;
}

/* show.ejs styling */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 40px;
}