<h1>Book App</h1>
<nav>
  <ul>
    <li><a href="/">View all Books</a></li>
    <li><a href="/add">Add a Book</a></li>
    <img id="stackmenu" src="../../public/styles/stackMenu.png" alt="stack menu">
  </ul>
</nav>